<head>
  <link
    href="https://fonts.googleapis.com/css?family=Gupter&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/app.css" />
</head>

<body>
  <div class="flex-container">
    <div class="container">
      <h1>
        <em>3</em> study sessions per week x <em>30</em>minutes each x
        <em>3</em> months
      </h1>
      <p class="lead">
        Enter email to be contacted on site launch.
        <strong><%= count %></strong> Legionaries are ready. TriLegion coming
        February 2020.
      </p>
      <form method="POST" action="/signup">
        <input
          type="text"
          class="form"
          name="email"
          placeholder="Email Address" required
        />
        <input
          type="text"
          class="form"
          name="target"
          placeholder="Target Language" required
        />
        <input
          type="text"
          class="form"
          name="native"
          placeholder="Native Language" required
        />

        <p>
          Language Skill Level:
          <select name="level">
            <option value="Beginner"></option>
            <option value="Intermediate"></option>
            <option value="Advanced"></option>
          </select>
        </p>

        <button>Submit information</button>
      </form>
    </div>
  </div>
</body>
